* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Courier New", Courier, monospace;
}

html {
  font-size: 62.5%;
}
body {
  background-color: #fff;
}
.container {
  width: 100%;
  height: 100%;
}

.main-bar {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fff;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.1);
}
.tittle {
  font-size: 3rem;
  display: flex;
  align-items: center;
  gap: 10rem;
}

.br {
  border: 1px solid #000;
  border-radius: 50%;
  padding: 5px;
}

.projects {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parts {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.works img {
  width: 100%;
}
.works {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.1);
}

.button {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.4rem;
  padding: 10px 20px;
  background-color: #ebd4cd;
  color: #000;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;

  border-radius: solid 0.25rem #000;
  transition: 50ms, box-shadow 50ms;
}

.button:hover {
  box-shadow: 0.25rem 0.25rem #000;
  transform: translate(0.115rem, 0.115rem);
}

.footer {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
}

.footer footer {
  font-size: 2rem;
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px;
}
